@{
    ViewData["Title"] = "Sobre o TCC - Projeto de Chatbot para Gestão de Projetos";
}


<div class="container mt-5">
    <h1 class="display-4">Projeto de Chatbot para Gestão de Projetos</h1>
    <p class="lead">por Leonardo Storolli Dorathoto, Engenheiro da Computação</p>
    <p>Apresentado como Trabalho de Conclusão de Curso para o MBA em Gestão de Projetos pela Poli USP PRO</p>

    <h2 class="mt-5">Objetivo do Projeto:</h2>
    <p>Falando dos objetivos desse TCC que são, criar um chatbot LLM com IA para responder perguntas referentes à gestão de projetos. Essas respostas são com um modelo re-treinado ou feito o ajuste fino para deixar de ser uma IA generalista e sim uma especialista em Gestão de Projetos. Foi treinada com 1 mil questões em formato JSON.</p>
</div>

<div class="container mt-5">
    <h2 class="mt-5">Introdução</h2>
    <p>À medida que a gestão de projetos se torna uma competência essencial em uma variedade de setores, muitos indivíduos encontram-se responsáveis por liderar iniciativas sem terem realizado um curso de especialização na área. Esses gestores, embora possuam um conhecimento básico e dos princípios gerais de gestão de projetos, frequentemente se deparam com desafios e incertezas ao longo de seus empreendimentos.</p>

    <p>Este projeto visa preencher um importante vazio nesse cenário. Desenvolvido para atender especificamente a esse gap dos gestores de projetos, o chatbot que estou apresentando oferece um recurso valioso e personalizado para auxiliar na gestão de projetos, mesmo para aqueles que não possuem uma formação extensiva na área.</p>

    <p>Muitas vezes, os gestores de projetos que provêm da área de desenvolvimento de software têm conhecimentos técnicos sólidos, mas podem sentir a falta de orientações práticas e direcionadas à gestão de projetos. Nesse contexto, o chatbot se posiciona como um aliado, fornecendo respostas precisas e orientações específicas para enfrentar os desafios comuns encontrados ao gerenciar projetos, desde o planejamento até a execução e o acompanhamento.</p>

    <p>O desenvolvimento deste projeto é uma iniciativa inspirada pela necessidade de preencher a lacuna entre o conhecimento técnico e as habilidades de gestão de projetos, com o objetivo de capacitar gestores a alcançar seus objetivos com confiança e eficácia.</p>
</div>



<div class="container text-center">
    <div class="panel panel-default" style="background-color: white; color: black !important;">
        <div class="panel-heading">
            <h3 class="panel-title">Sobre</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                  
                    <img src="~/img/1623761019656.jpg" alt="Foto de Leonardo" class="img-thumbnail rounded-circle">
                </div>
                <div class="col-md-8" style="text-align: left">
                    <p>
                        <strong>Leonardo Storolli Dorathoto</strong><br>
                        Engenheiro da Computação<br>
                        Apresenta esse trabalho de TCC para o curso de pós-graduação MBA em Gestão de Projetos pela Poli USP PRO.
                    </p>
                    <p><strong>Objetivo desse projeto:</strong></p>
                    <p>
                       Esse projeto visa criar uma IA refinada e especializada em gestão de projetos, que possa ser utilizada por qualquer pessoa, em qualquer lugar, a qualquer momento, para tirar dúvidas sobre gestão de projetos.
                       Para isso foi utilizado o gpt-3.5, um modelo de linguagem LLM, e re-treinado com 1.000 perguntas e respostas sobre gestão de projetos.
                        Esse processo de re-treinamento foi realizado com <a href="https://github.com/dorathoto/USP.TCC.ChatIA/tree/stage/jsonl" target="_blank">jsonL</a> após separação de 20% do dataset para validação.
                       Consulte o documento do TCC para descobrir todas as fontes utilizadas.


                    </p>
                    <p>
                        <a href="https://github.com/dorathoto/USP.TCC.ChatIA/" target="_blank">
                            <i class="fab fa-github"></i> GitHub com o source
                        </a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/doratiotto/" target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


