@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>



<div class="container text-center">
    <div class="panel panel-default" style="background-color: white; color: black !important;">
        <div class="panel-heading">
            <h3 class="panel-title">Sobre</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                  
                    <img src="~/img/1623761019656.jpg" alt="Foto de Leonardo" class="img-thumbnail rounded-circle">
                </div>
                <div class="col-md-8" style="text-align: left">
                    <p>
                        <strong>Leonardo Storolli Dorathoto</strong><br>
                        Engenheiro da Computação<br>
                        Apresenta esse trabalho de TCC para o curso de pós-graduação MBA em Gestão de Projetos pela Poli USP PRO.
                    </p>
                    <p><strong>Objetivo desse projeto:</strong></p>
                    <p>
                       Esse projeto visa criar uma IA refinada e especializada em gestão de projetos, que possa ser utilizada por qualquer pessoa, em qualquer lugar, a qualquer momento, para tirar dúvidas sobre gestão de projetos.
                       Para isso foi utilizado o gpt-3.5, um modelo de linguagem LLM, e re-treinado com 1.000 perguntas e respostas sobre gestão de projetos.
                        Esse processo de re-treinamento foi realizado com <a href="https://github.com/dorathoto/USP.TCC.ChatIA/tree/stage/jsonl" target="_blank">jsonL</a> após separação de 20% do dataset para validação.
                       Consulte o documento do TCC para descobrir todas as fontes utilizadas.


                    </p>
                    <p>
                        <a href="https://github.com/dorathoto/USP.TCC.ChatIA/" target="_blank">
                            <i class="fab fa-github"></i> GitHub com o source
                        </a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/doratiotto/" target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


