@{
    ViewData["Title"] = "Sobre o TCC - Projeto de Chatbot para Gestão de Projetos";
}


<div class="container mt-5">
    <h1 class="display-4">Projeto de Chatbot para Gestão de Projetos</h1>
    <p class="lead">por Leonardo Storolli Dorathoto, Engenheiro da Computação</p>
    <p>Apresentado como Trabalho de Conclusão de Curso para o MBA em Gestão de Projetos pela Poli USP PRO</p>

    <h2 class="mt-5">Objetivo do Projeto:</h2>
    <p>Falando dos objetivos desse TCC que são, criar um chatbot LLM com IA para responder perguntas referentes à gestão de projetos. Essas respostas são com um modelo re-treinado ou feito o ajuste fino para deixar de ser uma IA generalista e sim uma especialista em Gestão de Projetos. Foi treinada com 1 mil questões em formato JSON.</p>
</div>

<div class="container mt-5">
    <h2 class="mt-5">Introdução</h2>
    <p>À medida que a gestão de projetos se torna uma competência essencial em uma variedade de setores, muitos indivíduos encontram-se responsáveis por liderar iniciativas sem terem realizado um curso de especialização na área. Esses gestores, embora possuam um conhecimento básico e dos princípios gerais de gestão de projetos, frequentemente se deparam com desafios e incertezas ao longo de seus empreendimentos.</p>

    <p>Este projeto visa preencher um importante vazio nesse cenário. Desenvolvido para atender especificamente a esse gap dos gestores de projetos, o chatbot que estou apresentando oferece um recurso valioso e personalizado para auxiliar na gestão de projetos, mesmo para aqueles que não possuem uma formação extensiva na área.</p>

    <p>Muitas vezes, os gestores de projetos que provêm da área de desenvolvimento de software têm conhecimentos técnicos sólidos, mas podem sentir a falta de orientações práticas e direcionadas à gestão de projetos. Nesse contexto, o chatbot se posiciona como um aliado, fornecendo respostas precisas e orientações específicas para enfrentar os desafios comuns encontrados ao gerenciar projetos, desde o planejamento até a execução e o acompanhamento.</p>

    <p>O desenvolvimento deste projeto é uma iniciativa inspirada pela necessidade de preencher a lacuna entre o conhecimento técnico e as habilidades de gestão de projetos, com o objetivo de capacitar gestores a alcançar seus objetivos com confiança e eficácia.</p>
</div>

<div class="container mt-5">
    <h2 class="mt-5">Objetivo</h2>
    <p>Este projeto tem como objetivo principal oferecer suporte, orientação e informações para pessoas que atuam na gestão de projetos, inicialmente na área de desenvolvimento de software, e posteriormente em todos os setores. O chatbot foi desenvolvido para ajudar os gestores de projetos a entender em qual fase de um projeto estão, fornecendo orientações precisas e informações relevantes para superar os desafios comuns no gerenciamento de projetos, desde o planejamento até a execução e o acompanhamento. Este projeto surge da necessidade de preencher uma lacuna no apoio a gestores de projetos que podem não ter uma formação específica na área, permitindo-lhes alcançar seus objetivos com maior confiança e eficácia.</p>
</div>