@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Leonardo Storolli Dorathoto, Engenheiro da Computação, apresenta esse trabalho de TCC para  o curso de pós graduação MBA em Gestão de Projeto pela Poli USP PRO</p>
<p>Objetivo desse projeto:</p>
