<h1>Chat com IA</h1>
<div class="chatbox" id="chatbox"></div>
<input type="text" id="message" placeholder="Escreva sua dúvida aqui...">
<button id="send">Enviar</button>
<script>
    var chatbox = document.getElementById("chatbox");
    var message = document.getElementById("message");
    var send = document.getElementById("send");

    send.addEventListener("click", function () {
        var userMessage = message.value;
        var userDiv = document.createElement("div");
        userDiv.className = "message user";
        userDiv.innerHTML = "<strong>Você:</strong> " + userMessage;
        chatbox.appendChild(userDiv);

        // Defina o JSON a ser enviado no corpo da solicitação POST
        var data = {
            Pergunta: userMessage,
            Options: {
                Temperature: 0.7
            }
        };
        message.value = "";
        fetch("api/chat/pergunta/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(function (response) {
                
                return response.text();
            })
            .then(function (botMessage
            ) {
                var txt = JSON.parse(botMessage);
                console.log(txt);
                var botDiv = document.createElement("div");
                botDiv.className = "message bot";
                botDiv.innerHTML = "<strong>IA:</strong> " + txt.resposta;
                chatbox.appendChild(botDiv);

                chatbox.scrollTop = chatbox.scrollHeight;
            });
    });
</script>