html, body {
    font-size: 14px;
    background-color: #304a57;
    color: wheat
    background-color: #353535;
    color: #ffffffb3;
}
.navbar {
    background-color: #607d8b !important;
}
.nomeProjeto {
    font-weight: 800;
    font-family: system-ui;
}
.main {
    background-color: #a5a5a5
}
.card-header{
    color: black
}
header {
    background-color: #607D8B;
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.chatbox {
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fdfdfd;
    text-align: left !important;
}

.message {
    margin-bottom: 10px;
}

.user {
    color: blue;
}

.bot {
    color: green;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}