html, body {
    font-size: 14px;
    background-color: #324c59;
}
.main {
    background-color: #a5a5a5
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}